/* .login{
    background-color: rgb(53, 166, 174);
    height: 87.5vh;
    padding: 120px;
    

} */


.submit{
    background: rgb(190, 72, 164);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.gray{
    background-color: rgb(94, 227, 169);
    color: white;
}

#suc{
    backdrop-filter: blur(17px);
    -webkit-backdrop-filter: blur(7px);
    background: transparent;
    border-radius: 20px;
    color: white;
    box-shadow: 1px 1px 1px 1px black;
}